* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  max-width: 1150px;
}

$border: 1px solid lightgrey;
$header-links: rgb(0, 145, 202);

//create a square box
@mixin square($size) {
  width: $size;
  height: $size;
  float: left;
}

header {
  #logo a {
    color: rgb(232, 87, 0);
    font-family: 'Ledger', serif;
    font-size: 30px;
    text-decoration: none;
  }

  ul {
    padding-left: 26px;
    display: inline-block;
  }

  .header-links a {
    color: $header-links;
    font-size: 12px;
  }

  form {
    display: inline-block;
    padding-right: 372px;
    font-size: 12px;

    .search-field {
      width: 312px;
      padding: 5px 10px 4px;
    }
    .search-submit {
      color: white;
      padding: 6px 10px 5px;
      border: 1px solid rgb(0, 154, 180);
      background-color: rgb(0, 170, 199);
    }
  }
  #login {
    border: 1px solid $header-links;
    padding: 3px 8px 5px 5px;
  }

  #cart {
    width: 45px;
    display: inline-block;
    color: rgb(102, 102, 102);
    padding-left: 10px;

    img {
      width: 40%;
      height: auto;
    }
    figcaption {
      font-size: 12px;
    }
  }
}

nav {
  border-top: $border;
  border-bottom: $border;

  ul {
    padding-left: 22px;
    margin: 6px;
  }
}

ul li {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  padding-right: 14px;

  a {
    color: rgb(119, 119, 119);
    font-weight: lighter;
  }
}

#pagebody {
  position: relative;
  background: rgb(243, 245, 240);

  ul {
    padding-top: 25px;
    padding-left: 20px;
    margin: 0px;
  }

  li {
    padding-right: 110px;
  }

  .bluelink {
    color: $header-links;
  }

  .results {
    font-weight: lighter;
    padding-right: 430px;
  }

  .label-title {
    font-weight: lighter;
  }

  li a {
    color: $header-links;
  }

  .arrow-down {
    content: '';
    position: absolute;
    left: 1108px;
    top: 32px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 4px;
    border-color: #cbccc9 transparent transparent transparent;
  }

  .categories-box {
    position: absolute;
    border: 1px solid rgb(234, 234, 232);
    background: white;
    width: 184px;
    height: 320px;
    margin-top: 10px;
    margin-left: 26px;
    overflow: auto;
    float: left;

    ul {
      padding: 4px;
      h1 {
        font-size: 12px;
        padding-left: 6px;
      }
      li a {
        padding-left: 20px;
        padding-bottom: 3px;
        display: inline-block;
      }
    }
  }

  .items-container {
    padding-top: 10px;
    padding-left: 210px;
    margin: 0px;
    display: inline-block;
    background: rgb(243, 245, 240);

    .box {
      margin-bottom: 20px;
      margin-left: 16px;
      overflow: auto;
      @include square(210px);
      position: relative;
      background: white;
      .image {
        width: 210px;
        height: auto;

        .image:hover {
          background-image: heart.png;
          background-position: inherit;
          width: 25%;
          height: auto;
        }
      }
      .name {
        font-size: 12px;
        padding: 2px 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(161, 161, 161);
      }
      .shop {
        font-size: 12px;
        padding: 2px 6px;
        color: rgb(161, 161, 161);
      }
      .price {
        position: absolute;
        top: 190px;
        left: 162px;
        padding-right: 6px;
        font-size: 12px;
        color: rgb(60, 196, 56);

        .dollar:before {
          content: '$';
        }
      }
    }
  }

  #pagebar {
    display: inline-block;
    width: 100%;
    margin-left: 206px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px 12px;

    a {
      color: rgb(68, 68, 68);
    }

    .page-left {
      width: 31px;
      height: 33px;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 0px;
      float: left;
      background: rgb(243, 245, 240);
      border: 1px solid rgb(209, 209, 205);
      a {
        color: grey;
      }
    }
    .page-start {
      float: left;
      width: 31px;
      height: 33px;
      background: rgb(241, 241, 235);
      text-align: center;
      padding-top: 10px;
      border: 1px solid rgb(145, 145, 141);
    }
    .pages {
      float: left;
      width: 31px;
      height: 33px;
      background: white;
      text-align: center;
      padding-top: 10px;
      border: 1px solid rgb(209, 209, 205);
    }
    .page-marker {
      float: left;
      width: 31px;
      height: 33px;
      background: rgb(243, 245, 240);
      text-align: center;
      padding-top: 10px;
      border: 1px solid rgb(209, 209, 205);
    }
    .last-page {
      float: left;
      width: 31px;
      height: 33px;
      background: white;
      text-align: center;
      padding-top: 10px;
      border: 1px solid rgb(209, 209, 205);
    }
    .page-right {
      float: left;
      width: 31px;
      height: 33px;
      background: white;
      text-align: center;
      padding-top: 10px;
      border: 1px solid rgb(209, 209, 205);
    }
  }
}
