* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

$border: 1px solid lightgrey;
$header-links: rgb(0, 145, 202);

//create a square box
@mixin square($size) {
  width: $size;
  height: $size;
  float: left;
}

header {
  #logo a {
    color: rgb(232, 87, 0);
    font-family: 'Ledger', serif;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
  }

  ul {
    margin-top: 14px;
    padding-left: 26px;
    display: inline-block;
  }

  .header-links a {
    color: $header-links;
    font-size: 12px;
  }

  form {
    display: inline-block;
    padding-right: 372px;
    font-size: 12px;

    .search-field {
      width: 312px;
      padding: 5px 10px 4px;
    }
    .search-submit {
      color: white;
      padding: 6px 10px 5px;
      border: 1px solid rgb(0, 154, 180);
      background-color: rgb(0, 170, 199);
    }
  }
  #login {
    border: 1px solid $header-links;
    padding: 3px 8px 5px 5px;
  }

  #cart {
    filter: grayscale(100%);
  }
  .shopping {
    display: inline-block;
    border-left: 1px solid rgb(238, 238, 238);
    font-size: 12px;
    float: right;
    clear: both;
  }
}

nav {
  border-top: $border;
  border-bottom: $border;
}

ul li {
  display: inline;
  text-align:left;
  font-size:16px;
  font-weight:bold;
  padding-right: 14px;

  a {
    color: rgb(119, 119, 119);
    font-weight: lighter;
  }
}

#pagebody {
  position: relative;

  .arrow-down {
    content: '';
    position: absolute;
    left: 672px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 4px;
    border-color: #cbccc9 transparent transparent transparent;
  }

  aside {
    position: absolute;
    left: 40px;
  }

  .categories-box {
    border: 1px solid red;
    width: 200px;
    height: 300px;
  }

  .items-container {
    position: absolute;
    padding-left: 250px;
    margin: 20px auto;
    max-width: 1200px;
    margin-right: 40px;
    display: inline-block;

    .box {
      border: 1px solid blue;
      margin-bottom: 20px;
      margin-left: 20px;
      @include square(210px);
    }
  }
}
